<main role="main">
  <header class="content-header">
    <h1>Metadaten vervollständigen</h1>
  </header>
  <form class="add-book" method="post" action="/books/add/meta">
    <input type="hidden" name="_id" value="{{_id}}">
    <p>Die Metadaten der Datei waren leider unvollständig. Bitte ergänzen oder korrigieren Sie die folgenden Angaben.</p>
    <label for="book-title">
      <span class="label-text">Titel</span>
      <input id="book-title" type="text" name="title" placeholder="Titel" value="{{title}}" required>
    </label>
    <label for="book-author">
      <span class="label-text">Autor</span>
      <input id="book-author" type="text" name="author" placeholder="Autor" value="{{author}}" required>
    </label>
    <label for="book-publisher">
      <span class="label-text">Verleger</span>
      <input id="book-publisher" type="text" name="publisher" placeholder="Verleger" value="{{publisher}}">
    </label>
    <label for="book-publishing-date">
      <span class="label-text">Veröffentlichung</span>
      <input id="book-publishing-date" type="date" name="publishing-date" placeholder="Datum" value="{{publishingDate}}">
    </label>
    <label for="book-genre">
      <span class="label-text">Genre</span>
      <input id="book-genre" type="text" name="genre" placeholder="Genre" value="{{publishingDate}}">
    </label>
    <footer class="button-group">
      <button class="save-meta submit" type="submit">Speichern</button>
      <button class="cancel" type="button">Abbrechen</button>
    </footer>
  </form>
</main>
