<header class="content-header">
  <h1>{{#if books}}{{books.length}}{{else}}Keine{{/if}} Treffer für {{term}}</h1>
  <div class="actions">
    <button class="cancel"><span class="im im-angle-left"></span>Zurück</button>
  <form class="search-form" method="get" action="/books/search">
    <input name="term" placeholder="Suche" minlength="3" value="{{term}}">
    <button type="submit">Los</button>
  </form>
  </div>
</header>
<main role="main" class="list books-list">
  {{#if books}}
    <ul>
      {{#each books}}
        {{>book}}
      {{/each}}
    </ul>
  {{else}}
    <span class="no-results">Keine Bücher zu "{{term}}" gefunden</span>
  {{/if}}
</main>

