<article class="book" id="book-{{_id}}">
  <a href="/books/{{_id}}" class="cover" style="background-image:url(/uploads/covers/{{_id}}.jpg)">
    <img src="/uploads/covers/{{_id}}.jpg">
  </a>
  <section class="meta">
    <h2 class="title"><a href="/books/{{_id}}">{{title}}</a></h2>
    <h3 class="author"><a href="/books/author/{{author}}" title="Bücher von {{author}}">{{author}}</a></h3>
  </section>
</article>
