<html lang="{{language}}" data-logged-in="{{loggedIn}}">
  <head>
    <title>Kiosk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.iconmonstr.com/1.2.0/css/iconmonstr-iconic-font.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body class="{{bodyClass}} fullscreen">
    {{{body}}}
    <script>
      const config = {
        template: '{{template.name}}',
        url:      '{{url}}'
      };
    </script>
    <script src="/js/main.js"></script>
  </body>
</html>
